*{
    padding: 0;
    margin: 0;
    list-style: none;
}

html,body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.app{ 
    height: 100vh;
    background-color: bisque;
    width: 90%;
    margin: 0 auto;
}
.Fix_Marquee{
    height: 5%;
    background-color: red;
    /* border-radius: 0 0 15px 15px; */
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fix_Marquee input{
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(190, 15, 15);
    height: 100%;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}
.Fix_Marquee input:hover{
    cursor: pointer;
    background-color: rgb(121, 12, 12);
}
.header{
    height: 10%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo{
    flex: 1;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .logo img{
    height: 95%;
}
.header .search{
    height: 80%;
    flex: .8;
    background-color: rgb(94, 195, 162);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

}
.header .search input::placeholder{
text-align: center;
font-size: 18px;
}
.header .search input{
    border: none;
    border-radius: 15px;
    height: 100%;
    background-color: rgb(94, 195, 162);
}
.header .search input:focus{
    border: none;
    outline: none;
}
.header .search button{
    border: none;
    border-radius: 15px;
    background-color: rgb(94, 195, 162);
}
.header .navbar{
    flex: 3;
}

.header .Notify{
    flex: .2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .Notify .pic{
    font-size: 30px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .navbar nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .navbar nav a{
    color: #000;

    text-decoration: none;
}
.header .navbar nav a:hover{
    cursor: pointer;
}

.header .login{
    flex: .6;
    display: flex;
    height: 80%;
    /* color: #fff; */
    border-radius: 15px;
    background-color: rgb(94, 195, 162);
    justify-content: space-evenly;
    align-items: center;
}

.content{
    height: 70%;
    display: flex;
    width: 100%;

}

.content .sideManu{
flex: 1;
}
.content .message_area{
    flex: 1;
}
.content .Helper{
    flex: .2;
}


.footer{
    width: 100%;
    height: 15%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .nav .item1{}
.footer .nav .item1 input{
    border: 1pt seashell;
    border-style: inset;
    color: gray;
    text-align: center;
}
.footer .nav .item2{}
.footer .nav .item3{}

.Fix_Icon{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 10%;
    width: 5.5%;
    font-size: 35px;
    border-radius: 50%;
    background-color: red;
    color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DropMenu-BaseSet{
    width: 10%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    display: none;
    position: absolute;
    left: 0;
}

.DropMenu-BaseSet .arrow-up{
    font-size: 25px;
    width: 0; 
    height: 0;
    line-height: 50px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    text-align: center;
    border-bottom: 5px solid greenyellow;
}


.DropMenu-BaseSet ul{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.DropMenu-BaseSet ul li{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.DropMenu-BaseSet ul li:hover{
    cursor: pointer;
    background-color: rgb(87, 134, 16);
}


.DropMenu{
    width: 10%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.DropMenu .arrow-up{
    font-size: 25px;

    width: 0; 
    height: 0;
    line-height: 50px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    text-align: center;
    border-bottom: 5px solid greenyellow;
  
}


.DropMenu .arrow-down{
    font-size: 25px;

    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid greenyellow;
  
}
.DropMenu ul{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.DropMenu ul li{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.DropMenu ul li:hover{
    cursor: pointer;
    background-color: rgb(87, 134, 16);
}


.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 10%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/**

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}


**/



.DropMenu-ReaderOperation{
    width: 10%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    display: none;
    position: absolute;
    left: 0;
}

.DropMenu-ReaderOperation .arrow-up{
    font-size: 25px;
    width: 0; 
    height: 0;
    line-height: 50px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    text-align: center;
    border-bottom: 5px solid greenyellow;
}


.DropMenu-ReaderOperation ul{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.DropMenu-ReaderOperation ul li{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.DropMenu-ReaderOperation ul li:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(87, 134, 16);
}






















.DropMenu-History{
    width: 10%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    display: none;
    position: absolute;
    left: 0;
}

.DropMenu-History .arrow-up{
    font-size: 25px;
    width: 0; 
    height: 0;
    line-height: 50px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    text-align: center;
    border-bottom: 5px solid greenyellow;
}


.DropMenu-History ul{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.DropMenu-History ul li{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.DropMenu-History ul li:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(87, 134, 16);
}











.DropMenu-Tools{
    width: 10%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    display: none;
    position: absolute;
    left: 0;
}

.DropMenu-Tools .arrow-up{
    font-size: 25px;
    width: 0; 
    height: 0;
    line-height: 50px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    text-align: center;
    border-bottom: 5px solid greenyellow;
}


.DropMenu-Tools ul{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.DropMenu-Tools ul li{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.DropMenu-Tools ul li:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(87, 134, 16);
}














.DropMenu-SystemParameter{
    width: 10%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    display: none;
    position: absolute;
    left: 0;
}

.DropMenu-SystemParameter .arrow-up{
    font-size: 25px;
    width: 0; 
    height: 0;
    line-height: 50px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    text-align: center;
    border-bottom: 5px solid greenyellow;
}


.DropMenu-SystemParameter ul{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.DropMenu-SystemParameter ul li{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.DropMenu-SystemParameter ul li:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(87, 134, 16);
}